<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{124,91}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{122,89}</string>
      </dict>
      <key>monster_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,91},{104,47}}</string>
        <key>offset</key>
        <string>{-10.00,22.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{122,89}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>0</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>Monster.png</string>
      <key>size</key>
      <string>{124,192}</string>
      <key>textureFileName</key>
      <string>Monster.png</string>
    </dict>
  </dict>
</plist>