<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>run01.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{64,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{64,48}}</string>
<key>sourceSize</key>
<string>{64,48}</string>
</dict>
<key>run02.png</key>
<dict>
<key>frame</key>
<string>{{64,0},{64,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{64,48}}</string>
<key>sourceSize</key>
<string>{64,48}</string>
</dict>
<key>run03.png</key>
<dict>
<key>frame</key>
<string>{{128,0},{64,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{64,48}}</string>
<key>sourceSize</key>
<string>{64,48}</string>
</dict>
<key>run04.png</key>
<dict>
<key>frame</key>
<string>{{192,0},{64,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{64,48}}</string>
<key>sourceSize</key>
<string>{64,48}</string>
</dict>
<key>run05.png</key>
<dict>
<key>frame</key>
<string>{{0,48},{64,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{64,48}}</string>
<key>sourceSize</key>
<string>{64,48}</string>
</dict>
<key>run06.png</key>
<dict>
<key>frame</key>
<string>{{64,48},{64,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{64,48}}</string>
<key>sourceSize</key>
<string>{64,48}</string>
</dict>
<key>run07.png</key>
<dict>
<key>frame</key>
<string>{{128,48},{64,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{64,48}}</string>
<key>sourceSize</key>
<string>{64,48}</string>
</dict>
<key>run08.png</key>
<dict>
<key>frame</key>
<string>{{192,48},{64,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{64,48}}</string>
<key>sourceSize</key>
<string>{64,48}</string>
</dict>
<key>run09.png</key>
<dict>
<key>frame</key>
<string>{{0,96},{64,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{64,48}}</string>
<key>sourceSize</key>
<string>{64,48}</string>
</dict>
<key>run10.png</key>
<dict>
<key>frame</key>
<string>{{64,96},{64,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{64,48}}</string>
<key>sourceSize</key>
<string>{64,48}</string>
</dict>
<key>run11.png</key>
<dict>
<key>frame</key>
<string>{{128,96},{64,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{64,48}}</string>
<key>sourceSize</key>
<string>{64,48}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>Resources_Pack_0.png</string>
<key>size</key>
<string>{256,256}</string>
<key>TextureFileName</key>
<string>Resources_Pack_0.png</string>
</dict>
</dict>
</plist>
