<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hint_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,407},{60,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,35}}</string>
                <key>sourceSize</key>
                <string>{60,35}</string>
            </dict>
            <key>more_game_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{505,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,373}}</string>
                <key>sourceSize</key>
                <string>{505,373}</string>
            </dict>
            <key>quit_desc.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,377},{215,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,28}}</string>
                <key>sourceSize</key>
                <string>{215,28}</string>
            </dict>
            <key>quit_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,377},{60,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,35}}</string>
                <key>sourceSize</key>
                <string>{60,35}</string>
            </dict>
            <key>sign_in_current_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,377},{81,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,102}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>sign_in_day_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,421},{42,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,12}}</string>
                <key>sourceSize</key>
                <string>{42,12}</string>
            </dict>
            <key>sign_in_day_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,407},{42,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,12}}</string>
                <key>sourceSize</key>
                <string>{42,12}</string>
            </dict>
            <key>sign_in_day_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,421},{42,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,12}}</string>
                <key>sourceSize</key>
                <string>{42,12}</string>
            </dict>
            <key>sign_in_day_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,407},{42,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,12}}</string>
                <key>sourceSize</key>
                <string>{42,12}</string>
            </dict>
            <key>sign_in_day_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,467},{42,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,12}}</string>
                <key>sourceSize</key>
                <string>{42,12}</string>
            </dict>
            <key>sign_in_day_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,453},{42,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,12}}</string>
                <key>sourceSize</key>
                <string>{42,12}</string>
            </dict>
            <key>sign_in_day_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,439},{42,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,12}}</string>
                <key>sourceSize</key>
                <string>{42,12}</string>
            </dict>
            <key>sign_in_has_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,377},{81,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,102}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>sign_in_not_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{81,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,102}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>sign_in_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,439},{169,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,36}}</string>
                <key>sourceSize</key>
                <string>{169,36}</string>
            </dict>
            <key>sign_in_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,469},{8,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,11}}</string>
                <key>sourceSize</key>
                <string>{8,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialog.png</string>
            <key>size</key>
            <string>{509,481}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87f4cd025d0384b5d6cd255ec3a7bf1c$</string>
            <key>textureFileName</key>
            <string>dialog.png</string>
        </dict>
    </dict>
</plist>
