<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prop_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>prop_light_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>prop_light_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>prop_light_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>prop_light_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>prop_light_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>prop_light_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>prop_light_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>prop_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>prop_light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>prop_light_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>prop_light_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,2},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>prop_light_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>prop_light_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,2},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>prop_light_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>prop_light_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,2},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>prop_light.png</string>
            <key>size</key>
            <string>{754,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:100dd16a913fbeb0e3eed93f3587b648:bab4b8f47f60eac102f9deb6f263206b:5f8789b0bc93f9d6906ff20f662d42c8$</string>
            <key>textureFileName</key>
            <string>prop_light.png</string>
        </dict>
    </dict>
</plist>
