<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jum_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{138,120}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,90},{138,120}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>jum_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,374},{120,138}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,81},{120,138}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>jum_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,252},{138,120}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,90},{138,120}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>jum_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,362},{120,138}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,81},{120,138}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>jum_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{138,120}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,90},{138,120}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>jum_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,124},{126,142}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,79},{126,142}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>jum_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,606},{130,120}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,90},{130,120}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>jum_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{144,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,97},{144,106}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>jum_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{140,106}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,97},{140,106}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{146,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,92},{146,116}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{146,120}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,89},{146,120}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{148,120}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,496},{136,116}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,92},{136,116}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{138,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,94},{138,112}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,120},{144,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,90},{144,118}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,240},{138,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,90},{138,120}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,484},{136,120}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,90},{136,120}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{130,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,86},{130,128}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>slide.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,614},{120,130}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,85},{120,130}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ee1b0219e5be390d8c29ae160054efa:98728f763b09516a9f47b069fef03240:6290a42444d497ec9c3e7c82966554c5$</string>
            <key>textureFileName</key>
            <string>run.png</string>
        </dict>
    </dict>
</plist>
