<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sign_in_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{503,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,396}}</string>
                <key>sourceSize</key>
                <string>{503,396}</string>
            </dict>
            <key>sign_in_current_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,290},{81,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,102}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>sign_in_day_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,290},{42,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,12}}</string>
                <key>sourceSize</key>
                <string>{42,12}</string>
            </dict>
            <key>sign_in_day_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,378},{42,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,12}}</string>
                <key>sourceSize</key>
                <string>{42,12}</string>
            </dict>
            <key>sign_in_day_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,334},{42,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,12}}</string>
                <key>sourceSize</key>
                <string>{42,12}</string>
            </dict>
            <key>sign_in_day_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,290},{42,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,12}}</string>
                <key>sourceSize</key>
                <string>{42,12}</string>
            </dict>
            <key>sign_in_day_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,334},{42,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,12}}</string>
                <key>sourceSize</key>
                <string>{42,12}</string>
            </dict>
            <key>sign_in_day_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,290},{42,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,12}}</string>
                <key>sourceSize</key>
                <string>{42,12}</string>
            </dict>
            <key>sign_in_day_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,334},{42,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,12}}</string>
                <key>sourceSize</key>
                <string>{42,12}</string>
            </dict>
            <key>sign_in_day_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,290},{42,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,12}}</string>
                <key>sourceSize</key>
                <string>{42,12}</string>
            </dict>
            <key>sign_in_day_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,381},{42,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,12}}</string>
                <key>sourceSize</key>
                <string>{42,12}</string>
            </dict>
            <key>sign_in_day_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,337},{42,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,12}}</string>
                <key>sourceSize</key>
                <string>{42,12}</string>
            </dict>
            <key>sign_in_has_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,290},{81,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,102}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>sign_in_has_not_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,290},{81,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,102}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>sign_in_magnetic_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,290},{44,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{44,45}}</string>
                <key>sourceSize</key>
                <string>{54,47}</string>
            </dict>
            <key>sign_in_magnetic_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,346},{44,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{44,45}}</string>
                <key>sourceSize</key>
                <string>{54,47}</string>
            </dict>
            <key>sign_in_magnetic_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,2},{286,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,286}}</string>
                <key>sourceSize</key>
                <string>{286,286}</string>
            </dict>
            <key>sign_in_potential_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,290},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,47}</string>
            </dict>
            <key>sign_in_potential_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,290},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,47}</string>
            </dict>
            <key>sign_in_potential_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,2},{286,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,286}}</string>
                <key>sourceSize</key>
                <string>{286,286}</string>
            </dict>
            <key>sign_in_super_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,346},{38,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{38,47}}</string>
                <key>sourceSize</key>
                <string>{54,47}</string>
            </dict>
            <key>sign_in_super_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,346},{38,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{38,47}}</string>
                <key>sourceSize</key>
                <string>{54,47}</string>
            </dict>
            <key>sign_in_super_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,2},{286,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,286}}</string>
                <key>sourceSize</key>
                <string>{286,286}</string>
            </dict>
            <key>sign_in_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,334},{8,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,11}}</string>
                <key>sourceSize</key>
                <string>{8,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sign_in.png</string>
            <key>size</key>
            <string>{1371,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:232cbd647a4937cdba8c4126a9965310$</string>
            <key>textureFileName</key>
            <string>sign_in.png</string>
        </dict>
    </dict>
</plist>
