<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,38},{62,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{62,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>bangbangtang.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,108},{96,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,34}}</string>
                <key>sourceSize</key>
                <string>{100,36}</string>
            </dict>
            <key>baobao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{62,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>beizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,73},{64,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{64,31}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>bi.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{31,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>chaomei.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,73},{64,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{64,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>chatou.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,73},{64,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>dangao.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,73},{64,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{64,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>dianqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,38},{62,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{62,31}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>fangwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,2},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>feiji.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,73},{64,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>fgddx.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,108},{156,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{156,34}}</string>
                <key>sourceSize</key>
                <string>{162,36}</string>
            </dict>
            <key>hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{33,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>huangguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,38},{62,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>huo.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{31,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,32}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>jiezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>jingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,73},{64,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>jtgj.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,108},{125,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{125,34}}</string>
                <key>sourceSize</key>
                <string>{131,36}</string>
            </dict>
            <key>kouhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{60,31}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,31}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>lanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>lihe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{64,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{64,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>maozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,73},{64,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>pingguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,2},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>pingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,73},{64,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{64,31}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>qiche.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,73},{64,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>shandian.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{62,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>shiwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,73},{64,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>shouji.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,38},{64,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>shuben.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,73},{64,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{64,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>shuiguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,73},{64,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>shumu.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,73},{64,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{64,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>shuzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,38},{64,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>taideng.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{62,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{62,31}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>tiandedongxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,108},{125,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{125,34}}</string>
                <key>sourceSize</key>
                <string>{131,36}</string>
            </dict>
            <key>tiyuqicai.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,108},{127,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{127,34}}</string>
                <key>sourceSize</key>
                <string>{131,36}</string>
            </dict>
            <key>weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,38},{64,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{64,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,2},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>xiangji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>xiangjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,2},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>xiaolian.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,38},{64,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{64,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>xiezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,38},{64,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>xigua.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,38},{64,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{64,31}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>xinxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{60,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{60,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>yachi.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{62,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{62,31}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>yanjin.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,38},{64,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{64,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>yanjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,38},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>yezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,38},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>yu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{29,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{29,32}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>yueqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,38},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>yun.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,2},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{29,30}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>zhimu.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,2},{62,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{62,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>zhiqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,38},{64,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,33}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>zhixingche.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,108},{92,34}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{92,34}}</string>
                <key>sourceSize</key>
                <string>{100,36}</string>
            </dict>
            <key>zjsj.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,108},{125,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{125,34}}</string>
                <key>sourceSize</key>
                <string>{131,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>task_title.png</string>
            <key>size</key>
            <string>{978,145}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:403e86dd637d5e06f96b66590d88e07b:28a0debea03d851b4af277e65718dfbd:e92c504bd570435e508cbb11f5f564fc$</string>
            <key>textureFileName</key>
            <string>task_title.png</string>
        </dict>
    </dict>
</plist>
