<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bird_blue_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,68},{47,34}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{45,32}</string>
      </dict>
      <key>bird_blue_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,34},{47,34}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{45,32}</string>
      </dict>
      <key>bird_blue_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{47,34}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{45,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.32</real>
      <key>fps</key>
      <integer>0</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>Brid.png</string>
      <key>size</key>
      <string>{64,164}</string>
      <key>textureFileName</key>
      <string>Brid.png</string>
    </dict>
  </dict>
</plist>