<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,344},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>bullet02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,344},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>bullet02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,344},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>bullet02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,451},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>bullet02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,412},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>bullet02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,373},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>bullet02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,451},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>bullet02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,412},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>bullet02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,373},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>bullet02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>bullet02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>bullet02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>bullet03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,334},{55,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,37}}</string>
                <key>sourceSize</key>
                <string>{55,37}</string>
            </dict>
            <key>bullet03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{55,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,37}}</string>
                <key>sourceSize</key>
                <string>{55,37}</string>
            </dict>
            <key>bullet03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,305},{55,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,37}}</string>
                <key>sourceSize</key>
                <string>{55,37}</string>
            </dict>
            <key>bullet03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,305},{55,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,37}}</string>
                <key>sourceSize</key>
                <string>{55,37}</string>
            </dict>
            <key>bullet03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,295},{55,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,37}}</string>
                <key>sourceSize</key>
                <string>{55,37}</string>
            </dict>
            <key>bullet03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{55,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,37}}</string>
                <key>sourceSize</key>
                <string>{55,37}</string>
            </dict>
            <key>bullet03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,266},{55,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,37}}</string>
                <key>sourceSize</key>
                <string>{55,37}</string>
            </dict>
            <key>bullet03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,266},{55,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,37}}</string>
                <key>sourceSize</key>
                <string>{55,37}</string>
            </dict>
            <key>bullet03_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,256},{55,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,37}}</string>
                <key>sourceSize</key>
                <string>{55,37}</string>
            </dict>
            <key>bullet03_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{55,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,37}}</string>
                <key>sourceSize</key>
                <string>{55,37}</string>
            </dict>
            <key>bullet03_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,217},{55,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,37}}</string>
                <key>sourceSize</key>
                <string>{55,37}</string>
            </dict>
            <key>bullet03_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{55,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,37}}</string>
                <key>sourceSize</key>
                <string>{55,37}</string>
            </dict>
            <key>bullet04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,119},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>bullet04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,119},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>bullet04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>bullet04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,80},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>bullet04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,80},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>bullet04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>bullet04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,41},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>bullet04_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,41},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>bullet04_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>bullet04_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>bullet04_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>bullet04_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>bullet12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,212},{52,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,57}}</string>
                <key>sourceSize</key>
                <string>{52,57}</string>
            </dict>
            <key>bullet12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,158},{52,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,57}}</string>
                <key>sourceSize</key>
                <string>{52,57}</string>
            </dict>
            <key>bullet13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,212},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
            <key>bullet13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,158},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
            <key>bullet14_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,158},{57,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,69}}</string>
                <key>sourceSize</key>
                <string>{57,69}</string>
            </dict>
            <key>bullet14_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{57,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,69}}</string>
                <key>sourceSize</key>
                <string>{57,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batch_frame_bullet.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e46b6bd576f9ba81a5d41c2c807b8fd$</string>
            <key>textureFileName</key>
            <string>batch_frame_bullet.png</string>
        </dict>
    </dict>
</plist>
