<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{21,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,56}}</string>
                <key>sourceSize</key>
                <string>{21,56}</string>
            </dict>
            <key>0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,2},{21,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,56}}</string>
                <key>sourceSize</key>
                <string>{21,56}</string>
            </dict>
            <key>0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{21,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,56}}</string>
                <key>sourceSize</key>
                <string>{21,56}</string>
            </dict>
            <key>0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{21,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,56}}</string>
                <key>sourceSize</key>
                <string>{21,56}</string>
            </dict>
            <key>0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{19,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{19,54}}</string>
                <key>sourceSize</key>
                <string>{21,56}</string>
            </dict>
            <key>0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,25},{19,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{19,56}}</string>
                <key>sourceSize</key>
                <string>{21,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_frame_0.png</string>
            <key>size</key>
            <string>{127,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9d31dba7acfc35dfdec976cbc0c71f2$</string>
            <key>textureFileName</key>
            <string>fish_frame_0.png</string>
        </dict>
    </dict>
</plist>
