<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_every_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,406},{122,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,90}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>bt_lockcannon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{207,58}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,16},{207,58}}</string>
                <key>sourceSize</key>
                <string>{341,90}</string>
            </dict>
            <key>bt_lockscene.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{207,58}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,16},{207,58}}</string>
                <key>sourceSize</key>
                <string>{341,90}</string>
            </dict>
            <key>icon_vip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{179,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>icon_vip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>lock_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,176},{172,172}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{172,172}}</string>
                <key>sourceSize</key>
                <string>{200,186}</string>
            </dict>
            <key>scene_forever.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,160},{156,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,39}}</string>
                <key>sourceSize</key>
                <string>{156,41}</string>
            </dict>
            <key>scene_time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{156,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,39}}</string>
                <key>sourceSize</key>
                <string>{156,41}</string>
            </dict>
            <key>scene_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,350},{214,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,54}}</string>
                <key>sourceSize</key>
                <string>{214,54}</string>
            </dict>
            <key>task_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,318},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>task_status_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,406},{110,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,88}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>toll_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{172,172}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{172,172}}</string>
                <key>sourceSize</key>
                <string>{200,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_scene_frame.png</string>
            <key>size</key>
            <string>{488,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d55d898dddc4235a34e7f726adcbf90$</string>
            <key>textureFileName</key>
            <string>game_scene_frame.png</string>
        </dict>
    </dict>
</plist>
